In [1]:
import geopandas as gpd
import json

In [2]:
df = gpd.read_file('./ZonasArqueologicas/SITIOS_ARQUEOLOGICOS.shp', crs='EPSG:3857')
#df = df.set_crs(epsg = "4326", inplace = True)
#df = df.to_crs(crs=4326) 
df

                              geometry
0      POINT (4616228.128 1992329.102)
1      POINT (4661107.116 2309234.730)
2      POINT (4550064.086 2009573.923)
3      POINT (4700153.336 2058566.614)
4      POINT (4992025.134 2308416.590)
...                                ...
16995  POINT (4942265.257 2628030.017)
16996  POINT (4548672.900 1777996.416)
16997  POINT (5007093.585 2371237.268)
16998  POINT (4649794.609 2000263.567)
16999  POINT (4662373.860 1802978.994)

[17000 rows x 1 columns]

In [ ]:
df.plot()

In [ ]:
df1 = gpd.read_file('./ZonasArqueologicas/areas_arqueologicas.shp')
#df1 = df.to_crs(crs=4326)
df1 = df1.explode()
df1 = df1.reset_index()
df1 = df1.drop(["level_0", "level_1"], axis=1)
df1

In [ ]:
df1.plot(figsize=(20,10))

In [ ]:
datajson = []
for i in range(0,len(df1)):
    
    try:
    
        area = df1["geometry"][i].exterior.coords

        arr = []

        for j in range(0,len(area)):
            arr.append(area[j][1])
            arr.append(area[j][0])
            arr.append(0)

        datajson.append(arr)
        
    except:
        print("error ",df1["geometry"][i])

In [ ]:
save_file3 = open("ZonasArqueologicas.json", "w") 
json.dump(datajson, save_file3, indent = 6) 
save_file3.close()